## =========================================================================
##  Test  for object and data structure

### Mahdi Shafiee Kamalabad
## =========================================================================

### Please feel free to come back to review lecture notebooks for answering the following exercises.

**Write or just say out loud to yourself a brief description of all the following Object Types and Data Structures we've learned about. You can edit the cell below by double clicking on it. This is just to test if you know the difference between these, so feel free to just think about it, since your answers are self-graded.**

Numbers:

Strings:

Lists:

Tuples:

Dictionaries:

## Numbers

**Write an equation that uses multiplication, division, an exponent, addition, and subtraction that is equal to **100.25**.**

Hint: This is just to test your memory of the basic arithmetic commands, work backwards from 100.25

In [ ]:
# your code here

**Answer these 3 questions without typing code. Then type code to check your answer.**

    What is the value of the expression 4 * (6 + 5)
    
    What is the value of the expression 4 * 6 + 5 
    
    What is the value of the expression 4 + 6 * 5

**Using pyton built-in function answer the following:**

What is the *type* of the result of the expression 3 + 1.5 + 4?<br><br>
What is the *type* of the result of the expression 3 + 1.0?<br><br>
What is the *type* of the result of the expression 3 + 1?<br><br>

**What would you use to find a number’s square root, as well as its square? (you can google it)**

In [ ]:
# Square root:

In [ ]:
# Square:

In [ ]:
## What is the output of the following code?

valueOne = 5 ** 2
valueTwo = 5 ** 3

# print(valueOne)
# print(valueTwo)

In [ ]:
## What is the output of the following code?
p, q, r = 10, 20 ,30
# print(p, q, r)

## Strings

#### Some tips on string formatting. Please read the following table carefully:

| Topic | Explanation |
|-----------|--------|
| `quotes` |	A string is delimited by single quotes ('...') or double quotes ("...") |
| `special characters` |	Certain special characters can be used, such as "\n" (for newline) and "\t" (for a tab) 	|  	 
| `printing special characters` |	To print the special characters, they must be preceded by a backslash (\\)	 |
| `continue on next line` |	A backslash (\\) at the end of a line is used to continue a string on the next line	  	 |
| `multi-line strings` |	A multi-line print statement should be enclosed by three double or three single quotes ("""...""" of '''...''')	 |

#### Please run the code below and observe what happens.

In [2]:
print('hello\n')
print('To print a newline use \\n')
print('She said: \'hello\'')
print('\tThis is indented')
print('This is a very, very, very, very, very, very \
long print statement')
print('''
This is a multi-line print statement
First line
Second line
''')

hello

To print a newline use \n
She said: 'hello'
	This is indented
This is a very, very, very, very, very, very long print statement

This is a multi-line print statement
First line
Second line

**Given the string 'hello' give an index command that returns 'e'. Enter your code in the cell below:**

In [ ]:
s = 'hello'
# Print out 'e' using indexing

**Reverse the string 'hello' using slicing:**

In [ ]:
s ='hello'
# Reverse the string using slicing

**Given the string hello, give two methods of producing the letter 'o' using indexing.**

In [ ]:
s ='hello'
# Print out the 'o'

# Method 1:

In [ ]:
# Method 2:

In [ ]:
# What is the output of the following code? why?
var= "James Bond"
# print(var[2::-1])

In [ ]:
# What is the output of the following code? why?
var1 = 1
var2 = 2
var3 = "3"

# print(var1 + var2 + var3)

In [ ]:
# What is the output of the following code? why?

str = "pynative"
# print (str[1:3])

**Replace all "a"s by "o"s in "banana" using a string method.**

In [ ]:
my_string = "banana"
# your code here

**Can you exchange the first and last characters in `my_string` ('aananb')? Create a new variable `new_string` to store your result.**

In [ ]:
my_string = "banana"
new_string = # your code here

**Now write a Python script that prints the following figure using *only one line* of code.**

        | | |
         @ @
          *
        |"""|

In [ ]:
# your code here

**Can you access/add/remove elements in a set that is an unordered data structure by its index?**

In [ ]:
sampleList = ["Jon", "Kelly", "Jessa"]
sampleList.append(2, "Scott")
print(sampleList)

## Lists

##### An overview of list methods

There are many more methods which we can perform on lists. Here is an overview of some of them.
To get used to them, please call the **help** function on each of them (e.g., help(list.insert)). This will give you the information about the positional parameters, keyword parameters, and what is returned by the method.

In [3]:
#define some lists and variables
a = [1,2,3]
b = 4
c = [5,6,7]
x = 1
i = 2

# D o some operations on then by runing the following snipet of code and try to undrestand what is happening 
# a.append(b)     # Add item b to the end of a
# a.extend(c)     # Add the elements of list c at the end of a
# a.insert(i,b)   # Insert item b at position i
# a.pop(i)        # Remove from a the i'th element and return it. If i is not specified, remove the last element
# a.index(x)      # Return the index of the first element of a with value x. Error if it does not exist
# a.count(x)      # Return how often value x is found in a
# a.remove(x)     # Remove from a the first element with value x. Error if it does not exist
# a.sort()        # Sort the elements of list a
# a.reverse()     # Reverses list a (no return value!)

# print(a)

**Build this list [0,0,0] two separate ways.**

In [ ]:
# Method 1:

In [ ]:
# Method 2:

**Reassign 'hello' in this nested list to say 'goodbye' instead:**

In [ ]:
list3 = [1,2,[3,4,'hello']]

**Sort and reverse the list below:**

In [ ]:
list4 = [5,3,4,6,1]

**Python program to append an element to a list.**
 
 First assume we have a given list num = [23,45,67,8,9].  
 Second ask for an input, say x, (use input()).  
 Then append x to the given list.   
 Enter the item to insert: study. What would happen?

In [ ]:
# your code here

**Write a program to sum all the elements of a list.**

In [ ]:
num = [2,3,2,4,7,8]

## Dictionary

**Using keys and indexing, grab the 'hello' from the following dictionaries:**

In [ ]:
d = {'simple_key':'hello'}
# Grab 'hello'

In [ ]:
d = {'k1':{'k2':'hello'}}
# Grab 'hello'

In [ ]:
# Getting a little tricker
d = {'k1':[{'nest_key':['this is deep',['hello']]}]}

#Grab hello

In [ ]:
# This will be hard and a bit annoying! :)


d = {'k1':[1,2,{'k2':['this is tricky',{'tough':[1,2,['hello']]}]}]}

**Write a program to print only keys of a dictionary.**

dict = {0:”Value 1″, 1:”Value 2″, 2:”Value 3″}

Expected output  
Result: dict_keys([0, 1, 2])

In [ ]:
# print all the keys of dictionary
dict = {0:"Value 1", 1:"Value 2", 2:"Value 3"}

**Write a program to print values of dictionary.**
 
dict = {0:”Value 1″, 1:”Value 2″, 2:”Value 3″}

Expected output  
dict_values([‘Value 1’, ‘Value 2’, ‘Value 3’])

In [ ]:
# print all the values of dictionary
dict = {0:"Value 1", 1:"Value 2", 2:"Value 3"}

<br>

**Can you sort a dictionary? Why or why not?**<br>

<br>

**Write a Python program to sort dictionary by values (Ascending/ Descending).**

Given  d = {‘key 1’: 2, ‘key 2’: 3, ‘key 3’: 4}

Expected output

Ascending: [(‘key 1’, 2), (‘key 2’, 3), (‘key 3’, 4)] 

Descending: [(‘key 3’, 4), (‘key 2’, 3), (‘key 1’, 2)]

In [ ]:
# your code here

<br>

**Write a program to concatenate two dictionaries to create one.**  
Hint 
Given  
dict1 = {‘key 1’: 2, ‘key 2’: 3}  
dict2 = {‘key 3’: 4, ‘key 4’: 5}  

Expected output  
{‘key 1’: 2, ‘key 2’: 3, ‘key 3’: 4, ‘key 4’: 5}

In [ ]:
# your code here

## Tuples

**What is the major difference between tuples and lists? (Just think about it)**

**How do you create a tuple with mixed elements (number, string, etc)? (Give an example here). Can we perform arithmetic operations on tuple?**

In [ ]:
# example
X = (1, 2, 3)
Y = (4, 5, 6)
# X + Y
# X*3
# X-Y

## Sets

**What is unique about a set?<br><br> (Just think about it)**

**Use a set to find the unique values of the list below:**

In [ ]:
list5 = [10,2,200,33,4,4,11,4,40,22,3,3,2,4]

**Please run the following code to grasp how the set's methods work.**

In [6]:
set_a = {1, 2, 3,100}
set_b = {4, 5, 6, 600}
an_element = 4000


print(set_a)

#do some operations 
#set_a.add(an_element)  # Add an_element to set_a
print(set_a)
set_a.update(set_b)     # Add the elements of set_b to set_a
print(set_a)
set_a.pop()         # Remove and return an arbitrary set element. How does this compare to the list method pop?
print(set_a)
set_a.remove(100)     # Remove an_element from set_a
print(set_a)

{1, 2, 3, 100}
{1, 2, 3, 100}
{1, 2, 3, 100, 4, 5, 6, 600}
{2, 3, 100, 4, 5, 6, 600}
{2, 3, 4, 5, 6, 600}

In [8]:
## What is the output of the following code? and why?
sampleSet = {"Jodi", "Eric", "Garry"}
sampleSet.add(1, "Vicki")
print(sampleSet)

{'Jodi', 'Garry', 'Eric', 1}

## Booleans

##### For the following quiz questions, we will get a preview of comparison operators. In the table below, a=5 and b=6.

<table class="table table-bordered">
<tr>
<th style="width:10%">Operator</th><th style="width:45%">Description</th><th>Example</th>
</tr>
<tr>
<td>==</td>
<td>If the values of two operands are equal, then the condition becomes true.</td>
<td> (a == b) is not true.</td>
</tr>
<tr>
<td>!=</td>
<td>If values of two operands are not equal, then condition becomes true.</td>
<td> (a != b) is true.</td>
</tr>
<tr>
<td>&gt;</td>
<td>If the value of left operand is greater than the value of right operand, then condition becomes true.</td>
<td> (a &gt; b) is not true.</td>
</tr>
<tr>
<td>&lt;</td>
<td>If the value of left operand is less than the value of right operand, then condition becomes true.</td>
<td> (a &lt; b) is true.</td>
</tr>
<tr>
<td>&gt;=</td>
<td>If the value of left operand is greater than or equal to the value of right operand, then condition becomes true.</td>
<td> (a &gt;= b) is not true. </td>
</tr>
<tr>
<td>&lt;=</td>
<td>If the value of left operand is less than or equal to the value of right operand, then condition becomes true.</td>
<td> (a &lt;= b) is true. </td>
</tr>
</table>

**What will be the resulting Boolean of the following pieces of code (answer first then check by typing it in!)**

In [ ]:
# Answer before running cell
2 > 3

In [ ]:
# Answer before running cell
3 <= 2

In [ ]:
# Answer before running cell
3 == 2.0

In [ ]:
# Answer before running cell
3.0 == 3

In [ ]:
# Answer before running cell
4**0.5 != 2

**Final Question: What is the boolean output of the cell block below? Try to undrestand the logic.**

In [ ]:
# two nested lists
l_one = [1,2,[3,4]]
l_two = [1,2,{'k1':4}]

# True or False?
l_one[2][0] >= l_two[2]['k1']

## (Extra for the interested students) Format conversion methods for string
Two methods <code>%s</code> and <code>%r</code> convert any python object to a string using two separate methods: `str()` and `repr()`.  `%r` and `repr()` deliver the *string representation* of the object, including quotation marks and any escape characters. Run the following cells:

In [ ]:
print('He said his name was %s.' %'Fred')
print('He said his name was %r.' %'Fred')

As another example, `\t` inserts a tab into a string.

In [ ]:
print('I once caught a fish %s.' %'this \tbig')
print('I once caught a fish %r.' %'this \tbig')

The `%s` operator converts whatever it sees into a string, including integers and floats. The `%d` operator converts numbers to integers first, without rounding. Note the difference below:

In [ ]:
print('I wrote %s programs today.' %3.75)
print('I wrote %d programs today.' %3.75)

### Padding and Precision of Floating Point Numbers
* Floating point numbers use the format <code>%5.2f</code>. 
* Here, <code>5</code> would be the minimum number of characters the string should contain; these may be padded with whitespace if the entire number does not have this many digits. 
* Next to this, <code>.2f</code> stands for how many numbers to show past the decimal point. Run the following cells and discuss the differences:

In [ ]:
print('Floating point numbers: %5.2f' %(13.144))
print('Floating point numbers: %1.0f' %(13.144))
print('Floating point numbers: %1.5f' %(13.144))
print('Floating point numbers: %10.2f' %(13.144))
print('Floating point numbers: %25.2f' %(13.144))

### Multiple Formatting
Nothing prohibits using more than one conversion tool in the same print statement:

In [ ]:
print('First: %s, Second: %5.2f, Third: %r' %('hi!',3.1415,'bye!'))