## =========================================================================
##  Solution for object and data structure

### Mahdi Shafiee Kamalabad
## =========================================================================

## Test your knowledge. 

**Answer the following questions**

Write a brief description of all the following Object Types and Data Structures we've learned about:

**For the full answers, review the Jupyter notebook introductions of each topic!**


Numbers:

Strings:

Lists:

Tuples:

Dictionaries:

## Numbers

**Write an equation that uses multiplication, division, an exponent, addition, and subtraction that is equal to 100.25.**

Hint: This is just to test your memory of the basic arithmetic commands, work backwards from 100.25

In [1]:
# Your answer is probably different
(60 + (10 ** 2) / 4 * 7) - 134.75

100.25

**Answer these 3 questions without typing code. Then type code to check your answer.**

    What is the value of the expression 4 * (6 + 5)
    
    What is the value of the expression 4 * 6 + 5 
    
    What is the value of the expression 4 + 6 * 5

In [ ]:
4 * (6 + 5)

In [ ]:
4 * 6 + 5

In [ ]:
4 + 6 * 5

What is the *type* of the result of the expression 3 + 1.5 + 4?

**Answer: Floating Point Number**

What is the *type* of the result of the expression 3 + 1.0?

**Answer: Floating Point Number**

What is the *type* of the result of the expression 3 + 1?

**Answer: Integer Number**

**What would you use to find a number’s square root, as well as its square?**

In [ ]:
# Square root:
100 ** 0.5

In [ ]:
# Square:
10 ** 2

In [2]:
## What is the output of the following code?
p, q, r = 10, 20 ,30
print(p, q, r)

10 20 30

## Strings

**Given the string 'hello' give an index command that returns 'e'. Enter your code in the cell below:**

In [ ]:
s = 'hello'
# Print out 'e' using indexing

s[1]

**Reverse the string 'hello' using slicing:**

In [ ]:
s ='hello'
# Reverse the string using slicing

s[::-1]

**Given the string 'hello', give two methods of producing the letter 'o' using indexing.**

In [3]:
s ='hello'
# Print out the 'o'

# Method 1:

s[-1]

'o'

In [4]:
# Method 2:

s[4]

'o'

**Replace all "a"s by "o"s in "banana" using a string method.**

In [5]:
my_string = "banana"
# your code here
my_string.replace('a','o')

'bonono'

**Can you exchange the first and last characters in `my_string` ('aananb')? Create a new variable `new_string` to store your result.**

In [ ]:
my_string = "banana"
new_string = 'a'+my_string[1:-1]+'b'
new_string

**Now write a Python script that prints the following figure using *only one line* of code.**

        | | |
         @ @
          *
        |"""|

In [ ]:
print('| | | \n @ @ \n  *\n|"""|')

## Lists

**Build this list [0,0,0] two separate ways.**

In [ ]:
# Method 1:
[0]*3

In [ ]:
# Method 2:
list2 = [0,0,0]
list2

**Reassign 'hello' in this nested list to say 'goodbye' instead:**

In [ ]:
list3 = [1,2,[3,4,'hello']]

In [ ]:
list3[2][2] = 'goodbye'

In [ ]:
list3

**Sort the list below:**

In [ ]:
list4 = [5,3,4,6,1]

In [ ]:
# Method 1:
sorted_list4 = sorted(list4)
rev_sorted_list4 = sorted_list4[::-1]
rev_sorted_list4

In [ ]:
# Method 2:
list4.sort()
list4

In [ ]:
list4.reverse()
list4

**Write a program to sum all the elements of a list.**

In [ ]:
num = [2,3,2,4,7,8]
result = sum(num)

# printing result
print("Sum of list items",result)

## Dictionaries

**Using keys and indexing, grab the 'hello' from the following dictionaries:**

In [ ]:
d = {'simple_key':'hello'}
# Grab 'hello'

d['simple_key']

In [ ]:
d = {'k1':{'k2':'hello'}}
# Grab 'hello'

d['k1']['k2']

In [ ]:
# Getting a little tricker
d = {'k1':[{'nest_key':['this is deep',['hello']]}]}

In [ ]:
# This was harder than I expected...
d['k1'][0]['nest_key'][1][0]

In [ ]:
# This will be hard and annoying!
d = {'k1':[1,2,{'k2':['this is tricky',{'tough':[1,2,['hello']]}]}]}

In [ ]:
# Phew!
d['k1'][2]['k2'][1]['tough'][2][0]

**Write a program to print only keys of a dictionary.**

dict = {0:”Value 1″, 1:”Value 2″, 2:”Value 3″}

Expected output
Result: dict_keys([0, 1, 2])

In [ ]:
# print all the keys of dictionary
dict = {0:"Value 1", 1:"Value 2", 2:"Value 3"}
keys = dict.keys()

# printing result
print(keys)

**Write a program to print values of dictionary.**
 
dict = {0:”Value 1″, 1:”Value 2″, 2:”Value 3″}

Expected output
dict_values([‘Value 1’, ‘Value 2’, ‘Value 3’])

In [ ]:
# print only values
dict = {0:"Value 1", 1:"Value 2", 2:"Value 3"}
val = dict.values()

# printing result
print(val)

<br>

**Can you sort a dictionary? Why or why not?**

Answer: No! Because normal dictionaries are *mappings* not a sequence.

<br>

**Write a Python program to sort dictionary by values (Ascending/ Descending).**

Given  d = {‘key 1’: 2, ‘key 2’: 3, ‘key 3’: 4}

Expected output

Ascending: [(‘key 1’, 2), (‘key 2’, 3), (‘key 3’, 4)] 

Descending: [(‘key 3’, 4), (‘key 2’, 3), (‘key 1’, 2)]

In [ ]:
# Sort dictionary in ascending / descending
import operator
d = {'key 1': 2, 'key 2': 3, 'key 3': 4}
print('Original dictionary : ',d)

# in ascending
sort_a = sorted(d.items(), key=operator.itemgetter(1))
print('In Ascending by value : ',sort_a)

# in descending
sort_d = sorted(d.items(), key=operator.itemgetter(1), reverse=True)
print('In Descending by value : ',sort_d)

**Write a program to concatenate two dictionaries to create one.**  
Hint 
Given  
dict1 = {‘key 1’: 2, ‘key 2’: 3}  
dict2 = {‘key 3’: 4, ‘key 4’: 5}  

Expected output  
{‘key 1’: 2, ‘key 2’: 3, ‘key 3’: 4, ‘key 4’: 5}

In [ ]:
# Concatenate 2 dict to create one dict
dict1 = {'key 1': 2, 'key 2': 3}
dict2 = {'key 3': 4, 'key 4': 5}

# updating dict1 with dict2 using update method
dict1.update(dict2)

# changes made to dict1
# printing updated dict1
print(dict1)

## Tuples

**What is the major difference between tuples and lists?**

Tuples are *immutable!*

**How do you create a tuple with mixed elements (number, string, etc)? (Give an example here). Can we perform arithmetic operations on tuple?**

In [ ]:
t = (1,2,3)

In [ ]:
# example
X = (1, 2, 3)
Y = (4, 5, 6)
# X + Y
# X*3
print(X+Y)
print(X*3)
print(3*X)
# print(X-Y)

## Sets

**What is unique about a set?**

*Answer: They don't allow for duplicate items!*

**Use a set to find the unique values of the list below:**

In [ ]:
list5 = [1,2,2,33,4,4,11,22,3,3,2]

In [ ]:
set(list5)

## Booleans

For the following quiz questions, we will get a preview of comparison operators. In the table below, a=3 and b=4.

<table class="table table-bordered">
<tr>
<th style="width:10%">Operator</th><th style="width:45%">Description</th><th>Example</th>
</tr>
<tr>
<td>==</td>
<td>If the values of two operands are equal, then the condition becomes true.</td>
<td> (a == b) is not true.</td>
</tr>
<tr>
<td>!=</td>
<td>If values of two operands are not equal, then condition becomes true.</td>
<td> (a != b) is true.</td>
</tr>
<tr>
<td>&gt;</td>
<td>If the value of left operand is greater than the value of right operand, then condition becomes true.</td>
<td> (a &gt; b) is not true.</td>
</tr>
<tr>
<td>&lt;</td>
<td>If the value of left operand is less than the value of right operand, then condition becomes true.</td>
<td> (a &lt; b) is true.</td>
</tr>
<tr>
<td>&gt;=</td>
<td>If the value of left operand is greater than or equal to the value of right operand, then condition becomes true.</td>
<td> (a &gt;= b) is not true. </td>
</tr>
<tr>
<td>&lt;=</td>
<td>If the value of left operand is less than or equal to the value of right operand, then condition becomes true.</td>
<td> (a &lt;= b) is true. </td>
</tr>
</table>

**What will be the resulting Boolean of the following pieces of code (answer fist then check by typing it in!)**

In [ ]:
# Answer before running cell
2 > 3

In [ ]:
# Answer before running cell
3 <= 2

In [ ]:
# Answer before running cell
3 == 2.0

In [ ]:
# Answer before running cell
3.0 == 3

In [ ]:
# Answer before running cell
4**0.5 != 2

**Final Question: What is the boolean output of the cell block below?**

In [ ]:
# two nested lists
l_one = [1,2,[3,4]]
l_two = [1,2,{'k1':4}]

# True or False?
l_one[2][0] >= l_two[2]['k1']