## ========================================================================
## Pandas Exercise  
### Mahdi Shafiee Kamalabad
## ========================================================================

In [ ]:
import numpy as np
import pandas as pd

In [ ]:
print(pd.__version__)

#### Create a pandas series from each of the items below: a list, numpy and a dictionary.
Hint: `pd.Series()`

In [ ]:
mylist = list('abcedfghijklmnopqrstuvwxyz')
myarr = np.arange(26)
mydict = dict(zip(mylist, myarr))

In [ ]:
# put your code here

#### Convert the series ser into a dataframe with its index as another column on the dataframe.
Hint: `ser.to_frame()` and `.reset_index()`

In [ ]:
mylist = list('abcedfghijklmnopqrstuvwxyz')
myarr = np.arange(26)
mydict = dict(zip(mylist, myarr))
ser = pd.Series(mydict)

# put your code here

#### Combine ser1 and ser2 to form a dataframe.
Hint: `pd.concat()` or `pd.DataFrame()`

In [ ]:
# Input
import numpy as np
ser1 = pd.Series(list('abcedfghijklmnopqrstuvwxyz'))
ser2 = pd.Series(np.arange(26))

# put your code here

#### Write a Pandas program to add, subtract, multiple and divide two Pandas Series.

In [ ]:
import pandas as pd

ds1 = pd.Series([2, 4, 6, 8, 10])
ds2 = pd.Series([1, 3, 5, 7, 9])

# put your code here

#### Write a Pandas program to compare the elements of the two Pandas Series.

Sample Series: `[2, 4, 6, 8, 10], [1, 3, 5, 7, 10]`

In [ ]:
# put your code here

#### Write a Pandas program to convert a given dictionary to a Pandas series.
Sample dictionary: `d1 = {'a': 100, 'b': 200, 'c':300, 'd':400, 'e':800}`

In [ ]:
# put your code here

#### Write a Pandas program to sort a given Series.
Hint: `sort_values()`

In [ ]:
import pandas as pd
s = pd.Series(['100', '200', 'python', '300.12', '400'])

# put your code here

#### Write a Pandas program to create the mean and standard deviation of the data of a given Series.
Hint: `ser.mean()`,`ser.std()`

In [ ]:
import pandas as pd
s = pd.Series(data = [1,2,3,4,5,6,7,8,9,5,3])

# put your code here

#### Write a Pandas program to calculate the frequency counts of each unique value of a given series.
Hint: `ser.value_counts()`

In [ ]:
import pandas as pd
import numpy as np
num_series = pd.Series(np.take(list('0123456789'), np.random.randint(10, size=40)))

# put your code here

#### How to get the minimum, 25th percentile, median, 75th, and max of a numeric series?
Hint: `np.percentile()`

In [ ]:
# Input
state = np.random.RandomState(100)
ser = pd.Series(state.normal(10, 5, 25))

# put your code here

#### How to stack two series vertically and horizontally ?
Hint: `ser.append()`, `pd.concat()`

In [ ]:
# Input
ser1 = pd.Series(range(5))
ser2 = pd.Series(list('abcde'))

# put your code here

#### How to compute the euclidean distance between two series?
Hint: elducidean distance definition

In [ ]:
# Input
p = pd.Series([1, 2, 3, 4, 5, 6, 7, 8, 9, 10])
q = pd.Series([10, 9, 8, 7, 6, 5, 4, 3, 2, 1])

# put your code here

# Extra exercises

#### Write a Pandas program to convert a Panda module Series to Python list and print its type.
Hint: `ser.tolist()`

In [ ]:
import pandas as pd
ds = pd.Series([2, 4, 6, 8, 10])

# put your code here

#### Write a Pandas program convert the first and last character of each word to upper case in each word of a given series.
Hint: use `map()` with `upper()`

In [ ]:
import pandas as pd
series1 = pd.Series(['php', 'python', 'java', 'c#'])

# put your code here

#### Write a Pandas program to calculate the number of characters in each word in a given series.
Hint: use `map()` with `len()`

In [ ]:
import pandas as pd
series1 = pd.Series(['Php', 'Python', 'Java', 'C#'])

# put your code here

#### Write a Pandas program to filter words from a given series that contain at least two vowels.
Hint: use `map()` with `Counter()`

In [ ]:
import pandas as pd
from collections import Counter
color_series = pd.Series(['Red', 'Green', 'Orange', 'Pink', 'Yellow', 'White'])

# put your code here

#### Write a Pandas program to detect missing values of a given DataFrame. Display True or False.
Hint: `df.isna()`

In [ ]:
import pandas as pd
import numpy as np
pd.set_option('display.max_rows', None)
#pd.set_option('display.max_columns', None)
df = pd.DataFrame({
'ord_no':[70001,np.nan,70002,70004,np.nan,70005,np.nan,70010,70003,70012,np.nan,70013],
'purch_amt':[150.5,270.65,65.26,110.5,948.5,2400.6,5760,1983.43,2480.4,250.45, 75.29,3045.6],
'ord_date': ['2012-10-05','2012-09-10',np.nan,'2012-08-17','2012-09-10','2012-07-27','2012-09-10','2012-10-10','2012-10-10','2012-06-27','2012-08-17','2012-04-25'],
'customer_id':[3002,3001,3001,3003,3002,3001,3001,3004,3003,3002,3001,3001],
'salesman_id':[5002,5003,5001,np.nan,5002,5001,5001,np.nan,5003,5002,5003,np.nan]})

# put your code here

#### Write a Pandas program to count the number of missing values in each column of a given DataFrame.

In [ ]:
import pandas as pd
import numpy as np
pd.set_option('display.max_rows', None)
#pd.set_option('display.max_columns', None)
df = pd.DataFrame({
'ord_no':[70001,np.nan,70002,70004,np.nan,70005,np.nan,70010,70003,70012,np.nan,70013],
'purch_amt':[150.5,270.65,65.26,110.5,948.5,2400.6,5760,1983.43,2480.4,250.45, 75.29,3045.6],
'ord_date': ['2012-10-05','2012-09-10',np.nan,'2012-08-17','2012-09-10','2012-07-27','2012-09-10','2012-10-10','2012-10-10','2012-06-27','2012-08-17','2012-04-25'],
'customer_id':[3002,3001,3001,3003,3002,3001,3001,3004,3003,3002,3001,3001],
'salesman_id':[5002,5003,5001,np.nan,5002,5001,5001,np.nan,5003,5002,5003,np.nan]})

# put your code here

#### Write a Pandas program to drop the columns where at least one element is missing in a given DataFrame.
Hint: `df.dropna()`

In [ ]:
import pandas as pd
import numpy as np
pd.set_option('display.max_rows', None)
#pd.set_option('display.max_columns', None)
df = pd.DataFrame({
'ord_no':[70001,np.nan,70002,70004,np.nan,70005,np.nan,70010,70003,70012,np.nan,70013],
'purch_amt':[150.5,270.65,65.26,110.5,948.5,2400.6,5760,1983.43,2480.4,250.45, 75.29,3045.6],
'ord_date': ['2012-10-05','2012-09-10',np.nan,'2012-08-17','2012-09-10','2012-07-27','2012-09-10','2012-10-10','2012-10-10','2012-06-27','2012-08-17','2012-04-25'],
'customer_id':[3002,3001,3001,3003,3002,3001,3001,3004,3003,3002,3001,3001],
'salesman_id':[5002,5003,5001,np.nan,5002,5001,5001,np.nan,5003,5002,5003,np.nan]})

# put your code here

#### Write a Pandas program to drop those rows from a given DataFrame in which spicific columns have missing values.

In [ ]:
import pandas as pd
import numpy as np
pd.set_option('display.max_rows', None)
#pd.set_option('display.max_columns', None)
df = pd.DataFrame({
'ord_no':[np.nan,np.nan,70002,np.nan,np.nan,70005,np.nan,70010,70003,70012,np.nan,np.nan],
'purch_amt':[np.nan,270.65,65.26,np.nan,948.5,2400.6,5760,1983.43,2480.4,250.45, 75.29,np.nan],
'ord_date': [np.nan,'2012-09-10',np.nan,np.nan,'2012-09-10','2012-07-27','2012-09-10','2012-10-10','2012-10-10','2012-06-27','2012-08-17',np.nan],
'customer_id':[np.nan,3001,3001,np.nan,3002,3001,3001,3004,3003,3002,3001,np.nan]})

# put your code here

---
#### See the following pieces of codes and try to understand the logic behind that:

In [ ]:
data = pd.DataFrame(np.arange(16).reshape((4, 4)),
                    index=['Ohio', 'Colorado', 'Utah', 'New York'],
                    columns=['one', 'two', 'three', 'four'])
data

In [ ]:
# Slicing with integers (followed by boolean selection)
data.iloc[:,:3][data.three > 5]

In [ ]:
frame = pd.DataFrame(np.random.randn(4, 3), columns=list('bde'),
                     index=['Utah', 'Ohio', 'Texas', 'Oregon'])
frame
# Absolute value of the dataframe
np.abs(frame)

In [ ]:
# Calculate the range of each column
f = lambda x: x.max() - x.min()
frame.apply(f)

You can require the function to become row-specific by passing the argument axis='columns' to `apply`:

In [ ]:
# By passing axis='columns', the function is calculated for each row: 
frame.apply(f, axis='columns')

**Sorting**. You can sort a Series by index label:

In [ ]:
obj = pd.Series(range(4), index=['d', 'a', 'b', 'c'])
obj
obj.sort_index()

In [ ]:
frame = pd.DataFrame(np.arange(8).reshape((2, 4)),
                     index=['three', 'one'],
                     columns=['d', 'a', 'b', 'c'])
# Sort by row index
frame.sort_index()

In [ ]:
# Sort by column index
frame.sort_index(axis=1)

In [ ]:
obj.sort_values()

In [ ]:
frame = pd.DataFrame({'b': [4, 7, -3, 2], 'a': [0, 1, 0, 1]})
frame

In [ ]:
# Sort DataFrame by the 'b' column:
frame.sort_values(by='b')

In [ ]:
# Sort DataFrame by multiple columns (a first, and then b): 
frame.sort_values(by=['a','b'])

We can also count how many times values appears in the columns of a DataFrame. We see now an example in which we combine apply and value_counts

In [ ]:
data = pd.DataFrame({'Qu1': [1, 3, 4, 3, 4],
                     'Qu2': [2, 3, 1, 2, 3],
                     'Qu3': [1, 5, 2, 4, 4]})
data

In [ ]:
result = data.apply(pd.value_counts).fillna(0)
# The fillna() function is used to fill NA/NaN values using the specified method.
result

The row labels in the results report the distinct values observed in the DataFrame; the values are the respective counts of these values. Because some values were not observed within some column (for instance, value 2 in column 1), the `fillna` method was used to replace the missing data indicator (NaN) with the value 0 (to denote no counts).

`select_dtypes` can be used to select columns of a DataFrame having a specific dtype:

In [ ]:
data = pd.DataFrame({
    'string_1':['a','b','c'],
    'int_1':[1,2,3],
    'float_1':[-0.5,0.,0.5],
    'string_2':['d','e','f'],
    'int_2':[4,5,6],
    'float_2':[1.0, 1.5, 2.5]
})
data

In [ ]:
data.select_dtypes(['float'])

In [ ]:
data.select_dtypes(['object','int'])